<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Vinyl Records for Sale</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://kit.fontawesome.com/0001e6b446.js" crossorigin="anonymous"></script>
    </head>
    <style>


form input[type="text"],
form select {
  padding: 8px;
  margin-right: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: #f2f2f2;
  color: #333;
}

form button[type="submit"] {
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: #424242;
  cursor: pointer;
}

form label {
  margin-right: 10px;
  font-size: 16px;
  color: #fff;
}

form select {
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: #f2f2f2;
  color: #333;
}


    </style>
  <body>

    <h1 style="display: flex; justify-content: center;">Vinyl Records for Sale</h1>
      {{ if eq .Email "false" }}
      <div style="display: flex; justify-content: center; gap: 10em;">
        <div>
          <form action="/login" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br>
        
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>
        
            <input type="submit" value="Login">
            
          </form>
        </div>
        <div>
          <form action="/register" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br>
          
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>
          
            <input type="submit" value="Register">
          </form>
        </div>
      </div>
      {{ else }}
      <form class="center-form" action="/logout" method="POST">
          <p>Welcome {{ .Email }}!</p>
          <input type="submit" value="Logout">
        </form>
        <a class="center-form" href="/wishlist"><input type="submit" value="My Wishlist"></a>
      {{ end }}
      <a class="center-form" href="/allRecords"><input type="submit" value="Explore all records"></a>
      <a class="center-form" style="margin-bottom: 20px;" href="/addRecord"><input type="submit" value="Add new record"></a>


    <section class="" style="margin-bottom: 0; padding: 50px; background: #1a1a1a; color: #f2f2f2;">
      <h2 style="display: flex; justify-content: center; margin-bottom: 100px;">All Records</h2>

      <form style="color: whitesmoke" method="post" action="/allRecords">
        <input type="text" name="q" placeholder="Search...">
        <button type="submit" style="color: whitesmoke">Search</button>
      </form>
      <form style="color: whitesmoke;" action="/allRecords" method="post">
        <label for="price-filter">Filter by price:</label>
        <select name="price-filter" id="price-filter">
          <option value="all">All Prices</option>
          <option value="asc">Ascending</option>
          <option value="desc">Descending</option>
          <option value="0-10">$0-$10</option>
          <option value="10-20">$10-$20</option>
          <option value="20-30">$20-$30</option>
        </select>
        <label for="rating-filter">Filter by rating:</label>
        <select name="rating-filter" id="rating-filter">
          <option value="all">All Ratings</option>
          <option value="asc">Ascending</option>
          <option value="desc">Descending</option>  
          <option value="1">1 Star</option>
          <option value="2">2 Stars</option>
          <option value="3">3 Stars</option>
          <option value="4">4 Stars</option>
          <option value="5">5 Stars</option>
        </select>
      
        <button type="submit" style="color: whitesmoke">Apply Filters</button>
      </form>
      
      <div class="grid-container" style="margin-top: 50px;">

          {{ range .Records }}
              <form method="POST" action="/record">
                <input type="hidden" name="id" value="{{ .ID }}">
            <div class="record" style="width: 220px; background: white;">
      <button type="submit" style="border: none; background: none; padding: 0; margin: 0; cursor: pointer;">

              <img class="img" style="width: 100%;" src="/img/{{.ImagePath}}" alt="{{.Title}} by {{.Artist}}">
              <div class="title">{{ .Title }}</div>
              <div class="artist">{{ .Artist }}</div>
              <div class="genre">{{ .Genre }}</div>
              <div class="price">{{ .Price }}$</div>
              <div class="rating" data-rating="{{ .Rating }}"></div>
              </button>
            </div>
          </form>
          {{ end }}
  </div>

    </section>










      <script>
      const images = document.querySelectorAll("img[src='/img/vinyl.svg']");
    
      images.forEach(img => {
        img.style.filter = `hue-rotate(${Math.floor(Math.random() * 360)}deg)`;
      });

      $('.owl-carousel').owlCarousel({
        loop: false,
        margin: 50,
        nav: true,
        // navText: [
        //   '<span class="custom-arrow "></span>', 
        //   '<span class="custom-arrow "></span>' 
        // ],
        responsive: {
          0: {
            items: 1
          },
          600: {
            items: 3
          },
          1000: {
            items: 3
          }
        }
      })

      var ratings = document.querySelectorAll(".rating");

      ratings.forEach(function(rating) {
        var ratingValue = rating.getAttribute("data-rating");
        
        ratingValue = Math.round(ratingValue);

        var starsHtml = "";
        for (var i = 0; i < 5; i++) {
          if (i < ratingValue) {
            starsHtml += "<span class='fa fa-star checked'></span>";
          } else {
            starsHtml += "<span class='fa fa-star'></span>";
          }
        }
        rating.innerHTML = starsHtml;
      });

    </script>
  </body>
</html>
