<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Record Details</title>
  <script src="https://kit.fontawesome.com/0001e6b446.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/record.css">
</head>
<body>
    <div class="record">
        <img class="img" src="/img/{{.ImagePath}}" alt="{{.Title}} by {{.Artist}}">
        <div class="title">{{.Title}}</div>
        <div class="artist">{{.Artist}}</div>
        <div class="genre">{{.Genre}}</div>
        <div class="price">{{.Price}}$</div>
        <div class="rating" data-rating="{{.Rating}}"></div>
        <div class="rating-count">{{.RatingCount}} ratings</div>
        <div class="purchased-count">{{.PurchasedCount}} purchased</div>
        {{ if ne .Email "false" }}
        <form action="/addToWishlist" method="POST">
          <input type="hidden" name="record_id" value="{{ .ID }}">
          <input type="submit" value="Add to wishlist">
        </form>
      {{ end }}
         <form method="POST" action="/record/add-rating">
          <input type="hidden" name="id" value="{{ .ID }}">
          <div class="rating-input">
            <label for="rating">Add your rating:</label>
            <select name="rating" id="rating">
              <option value="5" selected>5 stars</option>
              <option value="4">4 stars</option>
              <option value="3">3 stars</option>
              <option value="2">2 stars</option>
              <option value="1">1 star</option>
            </select>
          </div>
          <button type="submit">Submit</button>
        </form>
      </div>
      <script>
          var ratings = document.querySelectorAll(".rating");

ratings.forEach(function(rating) {
  var ratingValue = rating.getAttribute("data-rating");
  
  ratingValue = Math.round(ratingValue);

  var starsHtml = "";
  for (var i = 0; i < 5; i++) {
    if (i < ratingValue) {
      starsHtml += "<span class='fa fa-star checked'></span>";
    } else {
      starsHtml += "<span class='fa fa-star'></span>";
    }
  }
  rating.innerHTML = starsHtml;
});
      </script>
</body>